GITHUB_ENTERPRISE='southworks'
GITHUB_ORGANIZATION='southworks'
GITHUB_TOKEN='PAT'
GITHUB_API_VERSION='2022-11-28'
GITHUB_API_SCOPE='organization'
  
FIREBASE_API_KEY='FIREBASE_API_KEY'
FIREBASE_AUTH_DOMAIN=''
FIREBASE_PROJECT_ID=''
FIREBASE_STORAGE_BUCKET=''
FIREBASE_MESSAGING_SENDER_ID=''
FIREBASE_APP_ID=''